.iconContainer {
    margin: 0 auto;
}

.data-icon {
    height: 70px;
}

.fire {
    fill:('#..');
    fill-opacity: 0.01;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.menuItem g path, .menuItem path {
    height: 100%;
    width: 100%;
}
.sexTypeSelection g path, .sexTypeSelection path {
    color: #FFF;
}
