@import "../shared/vars.css";
.summaryItems {
  & > * {
    height: 110px;
    overflow: hidden;
  }
  p {
    font-family: $textLight;
  }
}
.dateArea {
  padding-top: 20px;
  background: $bgTop;
}

.iconArea {

}
