@import "../../shared/vars.css";
.header, .headerDark {
  width: 100vw;
  height: $headerHeight;
  background: #FFF;
  color: $bgTop;
  font-family: $text;
  font-size: 1.8rem;
  position: relative;
}

.headerDark {
  background: $headerBgColour;
  color: #FFF;
  a, i, .leftHeader,.rightHeader {
    color: #FFF;
  }
}

.leftHeader {
  
}

.middleHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.leftHeader,.rightHeader {
  position: absolute;
  left: 0;
  padding-left: 3vw;
  cursor: pointer;
  height: $headerHeight;
  width: 80px;
  & > div {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
  }
}

.rightHeader {
  left: auto;
  padding-left: 0;
  right: 3vw;
  text-align: right;
  & > div {
    right: 0;
  }
}

//Icon Styles
.plusIcon {
  height: 40px;
  width: 40px;
  display: block;
  i {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border: 2px solid $bgTop;
    border-radius: 40px;
    padding: 0;
    color: $bgTop;
    &:before {
      padding: 0;
      margin: 0;
    }
  }
}

.leftArrow {
  font-size: 1.7rem;
  padding: 0;
  color: $bgTop;
  &:before {
    padding: 0;
    margin: 0;
  }
}

.cancel {
  font-family: Lato;
  color: $bgTop;
  font-size: .9rem;
}

.save {
  font-family: Lato;
  color: $bgTop;
  font-size: 1.1rem;
}
