// Immutable items
@import "_phonegapReset.css";
//@import "fixed/Mixins";

//Fonts
@import './font/latofonts.css';

// Imports
@import "vars.css";
@import "./form/index.css";
@import "./scaleText.css";

//Body/Html
html, body, body > div, body > div > div {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to bottom, $bgTop 0%, $bgBottom 100%);
  color: #FFF;
  text-align: center;
  font-family: $textThin;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#app, #app, .app-shell {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: block;
}

header {
  position: absolute;
}

.contentArea {
  margin: $contentAreaMarginTop $contentAreaMarginLeft;
  height: calc(100vh - $menuHeight - $menuHeight - $contentAreaMarginTop*2);
  overflow-y: auto;
}

.contentAreaBG {
  height: calc(100vh - $menuHeight - $menuHeight);
  overflow-y: auto;
  background: $textBg;
  color: $bordeDarkGrey;
}

.contentAreaFullWidth {
  height: calc(100vh - $menuHeight - $menuHeight);
  overflow-y: auto;
}

#app-content {
  position: relative;
  margin: 2vh 2vw;
  display: block;
}

//Elements
a {
  text-decoration: none;
  font-size: 18px;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
  font-family: $textLight;
}

p {
  margin: 10px 0;
}

//Align
.verticalAlignParent {
  position: fixed;
  top: $menuHeight;
  left: 0;
}

.verticalAlign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verticalAlignFlexParent {
  display: flex;
  flex-direction: column;
}

.verticalFlexAligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalAlignFlex {
  flex: none;
}

.flexWithChildren {
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }

  &.flexWithChildrenLTR {
    flex-direction: row;
  }
}
