// Core Colours
$text:            #000;
$wtext:           #FFF;
$bgTop:           #073ED9;
$headerBgColour:  #0CACFE;
$bgBottom:        #02E9FB;
$textBg:          #EFEFF4;
$desire:          #00A2FF;
$masturbation:    #0072FF;
$sex:             #1D4BCF;

//Fonts
$textBold: LatoBold;
$textMedium: LatoMedium;
$text: Lato;
$textLight: LatoLight;
$textThin: LatoThin;
$textHair: LatoHairline;

//Header
$headerHeight: 70px;

//Menu
$menuHeight: 70px;

//contentArea
$contentAreaMarginTop: 30px;
$contentAreaMarginLeft: 20px;
