// Core Colours
$textColour:      #000000;
$wtext:           #ffffff;
$bgTop:           #073ed9;
$headerBgColour:  #0cacfe;
$bgBottom:        #02e9fb;
$textBg:          #efeff4;
$desire:          #00a2ff;
$masturbation:    #0072ff;
$sex:             #1d4bcf;
$borderGray:      #dddddd;
$copyGray:        #666666;
$bordeDarkGrey:   #333333;

// Fonts
$textBold: LatoBold;
$textMedium: LatoMedium;
$text: Lato;
$textLight: LatoLight;
$textThin: LatoThin;
$textHair: LatoHairline;
$textFontello: fontello;

// Header
$headerHeight: 70px;

// Menu
$menuHeight: 70px;

// contentArea
$contentAreaMarginTop: 30px;
$contentAreaMarginLeft: 20px;
