@import '../vars.css';

.menu {
  background: #ffffff;
  height: $menuHeight;
  color: $bgTop;
  position: fixed;
  bottom: 0;
  margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
  i {
    display: block;
  }
}

.link {
  font-family: $text;
  margin-top: 1.6vh;
  float: left;
  width: 25vw;
  color: #1d4bcf;
}

.iconContainer {
  margin: 0 auto;
}

.data-icon {
  width: 31px;
  height: 31px;
}

.menuItem path,
.menuItem g path {
  height: 100%;
  width: 100%;
  fill: #1d4bcf;
}
