@import "../vars.css";
.menu {
  background: #FFF;
  height: $menuHeight;
  color: $bgTop;
  position: fixed;
  bottom: 0;
  i {
    //margin-bottom: 5px;
    display: block;
  }
}
.link {
  font-family: Lato;
  margin-top: 1.6vh;
  float: left;
  width: 25vw;
  color: #1D4BCF;
}

.iconContainer {
  margin: 0 auto;
}

.data-icon {
  width: 31px;
  height: 31px;
}

.menuItem g path, .menuItem path {
  height: 100%;
  width: 100%;
  fill: #1D4BCF;
}
