@import "../shared/vars.css";

.content {
  width: calc(100% - 40px);
  input {
    display: none;
  }
  p {
    font-family: $text;
  }
}

.vertAlign {
  width: calc(100%);
  height: calc(100vh - $menuHeight - $menuHeight);
  margin: 0 auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.tag {
  font-family: $textLight;
  padding: 8px 10px 5px;
  border: $borderGray 1px solid;
  color: #000;
  border-radius: 150px;
  display: inline-block;
  margin: 5px 15px;
  height: 100px;
  width: 100px;
}


.tag g path, .tag path {
  height: 120%;
  width: 120%;
}

.selected {
  color: #FFF;
  background: #F8F8F8;
}

.tagInput {
  border-bottom: 1px solid $borderGray;
  border-radius: 0;
  text-align: left;
  padding: 5px 5px 5px 25px;
  margin-bottom: 0px;
  color: $copyGray;
  &::-webkit-input-placeholder {
    color: $copyGray;
  }
}

