@import '../vars.css';
@import '../mediaQueries.css';

.home {
  padding: 10px 35px 30px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;

  .container {
    width: 100%;
  }

  p {
    font-family: $textLight;
  }
}

.extraDetails {
  position: absolute;
  bottom: 35px;
  width: calc(100% - 70px);

  @mixin hideMobile {
    display: none;
  }

  a {
    color: #ffffff;
    font-family: $text;
    text-decoration: underline;
    float: left;
  }
}

a.extraDetailsRight {
  float: right;
}

.loginButton a {
  color: #ffffff;
}
