@import '../../components/shared/vars.css';

.content {
  width: calc(100% - 40px);

  input {
    display: none;
  }

  p {
    font-family: $textLight;
  }
}

.vertAlign {
  width: calc(100%);
  height: calc(100vh - $menuHeight - $menuHeight);
  margin: 0 auto;
}
