.home {
  margin: 30px 20px;
  height: calc(100vh - 220px);
  overflow: hidden;

  h1 {
    //margin: 6vh 0;
  }

  p {

  }

  .extraDetails {
    position: fixed;
    bottom: 4vh;
    display: block;
    width: 88vw;
    & > a {
      border-bottom: 1px solid #FFF;
      float: left;
    }
    .extraDetailsRight {
      float: right;
      display: block;
    }
  }
}
.calenderContainer {
  height: 0;
}
