@import "../vars.css";
.itemContainer {
  background: #FFF;
  padding-top: 20px;
}

.info {
  float: right;
}

.icon {
  display: inline-block;
  padding-left: 5px;
}

.dataBreak, .inLineTitle, .sliderTitle, .tagsTitle {
  height: 20px;
  color: #000;
  font-family: $textMedium;
  text-align: left;
  padding-left: 10px;
}

.inLineTitle {
  margin: 0 0 15px;
}

.sliderTitle {
  margin: 0 0 35px;
}

.tagsTitle {
  margin: 0;
}

.long {
  height: auto;
  overflow: hidden;
  margin-bottom: 5px;
}

.dataItem {
  color: #000;
  background: #FFF;
  border-top: 1px solid #DDD;
  border-left: none;
  border-right: none;
  padding: 15px 10px;

  &.bottom {
    border-bottom: 1px solid #DDD;
  }

  label {
    float: left;
    display: block;
    font-family: $textMedium;
  }
  &:before, &:after {
    content: '';
    clear: both;
    display: table;
  }
}
