@import "../vars.css";
button {
  width: 100%;
  color: $bgTop;
  background: #FFF;
  border: none;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1.2rem;
  padding: 15px 0;
  border-radius: 30px;
  cursor: pointer;
}

input, select {

  &::-webkit-input-placeholder {
    color: #FFF;
    font-family: LatoLight;
  }

  width: 100%;
  color: #fff;
  display: block;
  text-align: center;
  background: transparent;
  border: 1px solid #FFF;
  font-size: 18px;
  margin-bottom: 1.2rem;
  padding: 15px 0;
  border-radius: 30px;
}

select, option {
  text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
}


.select {
  position: relative;
  &::after {
    font-family: "fontello";
    content: '\e808';
    position: absolute;
    right: 20px;
    top: 0;
    margin-top: 17px;
    height: 20px;
    width: 20px;
  }
}

.error {
  border-color: #ff9494;

  &::-webkit-input-placeholder {
  }
}
