button {
  width: 100%;
  color: $bgTop;
  background: #FFF;
  border: none;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1.2rem;
  padding: 15px 0;
  border-radius: 30px;
  cursor: pointer;
}

input {

  &::-webkit-input-placeholder {
    color: #FFF;
    font-family: LatoLight;
  }

  width: 100%;
  color: #fff;
  display: block;
  text-align: center;
  background: transparent;
  border: 1px solid #FFF;
  font-size: 18px;
  margin-bottom: 1.2rem;
  padding: 15px 0;
  border-radius: 30px;
}
