input.mbsc-comp, .mbsc-mobiscroll .mbsc-cal-day-m {
  display: none;
}

.mbsc-mobiscroll .mbsc-fr-popup.mbsc-cal-tabbed .mbsc-fr-w {
  background: transparent;
}

.mbsc-fr-w, .mbsc-cal-tabs {
  padding: 0 !important;
}

.mbsc-cal table {
//height: auto;
}

.mbsc-mobiscroll .mbsc-cal th {
//height: 30px;
}

.mbsc-mobiscroll.mbsc-no-touch .mbsc-fr-btn-e:not(.mbsc-fr-btn-d):hover, .mbsc-mobiscroll .mbsc-fr-btn-a {
  background: transparent;
}

.mbsc-mobiscroll .mbsc-fr-w, .mbsc-mobiscroll .mbsc-fr-btn, .mbsc-mobiscroll .mbsc-sc-itm, .mbsc-mobiscroll .mbsc-range-btn, .mbsc-mobiscroll .mbsc-cal-tabs .mbsc-cal-tab-i, .mbsc-mobiscroll .mbsc-cal-btn-txt, .mbsc-mobiscroll .mbsc-cal th {
  color: #FFF;
  border-radius: 20px;
}

.mbsc-mobiscroll .mbsc-cal-day {
  border: none;
}

.mbsc-cal-days-c {
  border-bottom: 1px solid #1ba0e3;
  margin-bottom: 10px;
}

/*
* Scroller
 */

.mbsc-mobiscroll .mbsc-fr-scroll[role="dialog"] .mbsc-fr-popup .mbsc-fr-w {
  background: transparent;
}

.mbsc-kindred.mbsc-mobiscroll .mbsc-fr-scroll[role="dialog"] .mbsc-fr-popup .mbsc-fr-w {
  background: #f7f7f7;
}

/*
* Switch
 */

.mbsc-switch input:checked + .mbsc-switch-track {
  background: #02E9FB;
}

.mbsc-switch.mbsc-mobiscroll .mbsc-switch-track {
  background: #1ba0e3;
}

.mbsc-switch.mbsc-mobiscroll .mbsc-switch-track {
  width: 3.575em;
  height: 1.975em;
  top: 3px;
}

.mbsc-switch.mbsc-mobiscroll .mbsc-switch-handle {
  background: #FFF;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.19);
}

.mbsc-switch.mbsc-ltr .mbsc-progress-track .mbsc-slider-handle-cont {
  left: 85% !important;
}

.mbsc-switch.mbsc-ltr .mbsc-progress-track .mbsc-slider-handle-cont.mbsc-slider-start {
  left: 15% !important;
}

/*
*  Slider
 */

.mbsc-mobiscroll .mbsc-slider-handle {
  background: #1ba0e3;
}

.mbsc-mobiscroll .mbsc-progress-bar {
  background: #02E9FB;
}

.mbsc-mobiscroll .mbsc-progress-track {
  height: .325em;
}

.mbsc-progress-bar {
  border-radius: 1em;
}

.mbsc-progress-step-label {
  top: -40px;
  color: #0CACFE;
  font-size: .9em;
  font-family: Lato;
}

.mbsc-mobiscroll.mbsc-progress {
  padding: 10px;
}

.mbsc-mobiscroll .mbsc-slider-handle {
  height: 1.1em;
  width: 1.1em;
}

.mbsc-mobiscroll .mbsc-switch-track .mbsc-switch-handle {
  height: 1.5em;
  width: 1.5em;
}

/*
* Popup
 */

.mbsc-mobiscroll [role="dialog"] .mbsc-fr-popup .mbsc-fr-w {
  background: #f7f7f7;
  color: #000;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
  padding-top: 0;
  padding-bottom: 3.75em;
}

.mbsc-ios.mbsc-fr-bubble .mbsc-fr-w, .mbsc-ios.mbsc-fr-center .mbsc-fr-w {
  border-radius: 8px;
}

.mbsc-kindred.mbsc-fr-nobtn .mbsc-fr-w, .mbsc-ios.mbsc-fr-center .mbsc-fr-w {
  min-width: 16.666667em;
}

.mbsc-ios .mbsc-fr-w {
  position: relative;
  padding-top: 3.666667em;
  background: #f7f7f7;
  color: #000;
  font-size: 12px;
  font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mbsc-fr .mbsc-fr-w {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.mbsc-fr-w {
  min-width: 200px;
  overflow: hidden;
  text-align: center;
  font-family: arial, verdana, sans-serif;
}

.mbsc-fr-w, .mbsc-fr-overlay {
  -webkit-transform: translateZ(0);
}

.mbsc-fr-popup, .mbsc-fr-btn-cont {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mbsc-fr-popup {
  max-width: 65%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 12px;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.mbsc-fr-popup .h3,.mbsc-fr-popup  h3 {
  font-size: 24px;
}
.mbsc-fr-popup .h1, .mbsc-fr-popup .h2,.mbsc-fr-popup  .h3,.mbsc-fr-popup  h1,.mbsc-fr-popup  h2,.mbsc-fr-popup  h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1,.mbsc-fr-popup  .h2,.mbsc-fr-popup  .h3,.mbsc-fr-popup  .h4,.mbsc-fr-popup  .h5,.mbsc-fr-popup  .h6,.mbsc-fr-popup  h1,.mbsc-fr-popup  h2,.mbsc-fr-popup  h3,.mbsc-fr-popup  h4,.mbsc-fr-popup  h5,.mbsc-fr-popup  h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.mbsc-fr-popup p {
  margin: 0 0 10px;
}


.kindred-dialog .mbsc-fr-popup .mbsc-fr-w {
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
}

.kindred-dialog .mbsc-fr-popup .mbsc-fr-btn-cont {
  border-radius: 0;
}

.kindred-dialog .mbsc-fr-overlay, .kindred-dialog .mbsc-fr-btn-cont {
  display: none;
}

.kindred-dialog.good .md-dialog {
  color: #57be69;
}

.kindred-dialog.bad .md-dialog {
  color: #cf2c10;
}

.mbsc-fr-hdn {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.mbsc-wdg .mbsc-ltr .mbsc-wdg-c {
  text-align: left;
}

.md-dialog {
  text-align: center;
}

.md-dialog {
  text-align: center;
}

.md-dialog {
  min-width: 250px;
}

.md-dialog-cont .md-dialog {
  width: 250px;
  margin: 0 auto;
}

.mbsc-fr-btn-cont {
  display: table;
  width: 100%;
  text-align: center;
}

.mbsc-ios .mbsc-fr-btn-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.mbsc-kindred.mbsc-fr-center .mbsc-fr-btn-cont {
  display: table;
  top: auto;
  bottom: 0;
  border: 0;
  table-layout: fixed;
}

.mbsc-fr-btn-w {
  vertical-align: top;
  display: table-cell;
  position: relative;
  z-index: 5;
}

.mbsc-ios .mbsc-fr-btn-w {
  display: block;
  float: right;
}

.mbsc-kindred.mbsc-fr-center .mbsc-fr-btn-w {
  display: table-cell;
  float: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
}

.mbsc-kindred.mbsc-fr-center .mbsc-fr-btn-w:first-child {
  border-left: 0;
}

.mbsc-fr-btn {
  overflow: hidden;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.mbsc-kindred .mbsc-fr-btn-cont {
  padding: 0;
}

.mbsc-fr-btn-e {
  cursor: pointer;
}

.mbsc-kindred .mbsc-fr-btn {
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 .625em;
  display: inline-block;
  color: #007aff;
  font-size: 1em;
}

.mbsc-ios .mbsc-fr-btn-s .mbsc-fr-btn {
  font-weight: bold;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn {
  display: block;
  font-weight: normal;
}

.mbsc-ios.mbsc-fr-center .mbsc-ltr .mbsc-fr-btn-w:first-child .mbsc-fr-btn, .mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w:last-child .mbsc-fr-btn {
  border-radius: 0 0 0 .5em;
}

/*
*  Calender
 */

.mbsc-cal-day-diff .mbsc-cal-day-i {
//opacity: 1; color: #93b4b5;
}

.mbsc-mobiscroll .mbsc-cal-c {
  padding-top: 0;
  padding-bottom: 0;
}

.mbsc-cal-pnl-i {
  margin: 0;
  padding: 0;
}

.mbsc-cal-tabbed .mbsc-cal-pnl-i {
  display: block;
  margin-top: 5px;
}

.mbsc-mobiscroll .mbsc-cal-hl-now .mbsc-cal-today, .mbsc-mobiscroll .mbsc-cal .mbsc-cal-sc-sel .mbsc-cal-sc-cell-i, .mbsc-mobiscroll .mbsc-cal .mbsc-cal-day-sel .mbsc-cal-day-i {
  background-color: transparent;
}

.mbsc-cal-day.mbsc-cal-day-sel.mbsc-cal-today.mbsc-cal-day-marked.mbsc-cal-day-last.mbsc-cal-day-v.mbsc-fr-btn-e.mbsc-fr-btn-nhl .mbsc-cal-day-fg {
  background-color: #4bbde8;
}

.mbsc-cal-day .mbsc-cal-day-i {
  font-size: 18px;
}

.mbsc-cal-day-fg {
  width: 35px;
  height: 35px;
  padding: 0;
  font-family: Lato;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  line-height: 2.6125em;
}

.mbsc-mobiscroll .mbsc-cal-hl-now .mbsc-cal-today .mbsc-cal-day-fg, .mbsc-cal-day.mbsc-cal-day-v.mbsc-fr-btn-e.mbsc-fr-btn-nhl.mbsc-cal-day-sel .mbsc-cal-day-fg, .mbsc-mobiscroll .mbsc-cal-tabs .mbsc-cal-tab-sel {
  border-radius: 40px;
  background-color: #2253eb;
}

.mbsc-mobiscroll .mbsc-cal-hl-now .mbsc-cal-day-marked .mbsc-cal-day-fg {
  border-radius: 40px;
  background-color: #02E9FB;
}

.mbsc-mobiscroll .mbsc-cal-tab {
  border: none;
}

.mbsc-cal-tab {
  width: 50%;
}

.mbsc-mobiscroll .mbsc-cal-tabs .mbsc-cal-tab-sel {
  border-radius: 30px;
  border-color: #2253eb;
}

.mbsc-cal-day-inv.mbsc-cal-day .mbsc-cal-day-fg {
//opacity: .8
}

.mbsc-cal-sc-m-cell {
  background-color: #2253eb;
  color: #FFF;
}

.mbsc-cal .mbsc-cal-sc-row .mbsc-fr-btn-d {
  background-color: #00b3ec;
  opacity: 1;
}
