@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qjyct5');
  src:  url('fonts/icomoon.eot?qjyct5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qjyct5') format('truetype'),
    url('fonts/icomoon.woff?qjyct5') format('woff'),
    url('fonts/icomoon.svg?qjyct5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e800";
}
.icon-up-open-big:before {
  content: "\e805";
}
.icon-right-open-big:before {
  content: "\e806";
}
.icon-left-open-big:before {
  content: "\e807";
}
.icon-down-open-big:before {
  content: "\e808";
}
.icon-heart-empty:before {
  content: "\e809";
}
.icon-plus:before {
  content: "\e80a";
}
.icon-down-small:before {
  content: "\e80b";
}
.icon-right-small:before {
  content: "\e80c";
}
.icon-up-small:before {
  content: "\e80d";
}
.icon-left-small:before {
  content: "\e80e";
}
.icon-search:before {
  content: "\e80f";
}
.icon-plus-circled:before {
  content: "\e810";
}
.icon-users:before {
  content: "\e811";
}
.icon-off:before {
  content: "\e812";
}
.icon-male:before {
  content: "\e825";
}
.icon-female:before {
  content: "\e826";
}
.icon-user-times:before {
  content: "\e830";
}
.icon-user-plus:before {
  content: "\e831";
}
.icon-user-1:before {
  content: "\e832";
}
.icon-child:before {
  content: "\e833";
}
.icon-heart:before {
  content: "\e834";
}
.icon-star:before {
  content: "\e836";
}
.icon-star-empty:before {
  content: "\e837";
}
.icon-brand:before {
  content: "\e900";
  color: #3b5998;
}
.icon-brand2:before {
  content: "\e901";
  color: #4386fc;
}
.icon-brand3:before {
  content: "\e902";
  color: #dc4e41;
}
.icon-02 .path1:before {
  content: "\e903";
  color: rgb(248, 248, 248);
}
.icon-02 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-02 .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-02 .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-02 .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-02 .path6:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ADD_POSITION .path1:before {
  content: "\e909";
  color: rgb(248, 248, 248);
}
.icon-ADD_POSITION .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ADD_POSITION .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ADD_POSITION .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GET_01 .path1:before {
  content: "\e90d";
  color: rgb(248, 248, 248);
}
.icon-ANAL-GET_01 .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_01 .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_01 .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_01 .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_01 .path6:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_01 .path7:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_01 .path8:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-ANAL-GET_01 .path9:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GET_02 .path1:before {
  content: "\e916";
  color: rgb(248, 248, 248);
}
.icon-ANAL-GET_02 .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GET_02 .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_02 .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_02 .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_02 .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_02 .path7:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_02 .path8:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GET_02 .path9:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-ANAL-GET_02 .path10:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_01 .path1:before {
  content: "\e920";
  color: rgb(248, 248, 248);
}
.icon-ANAL-GIVE_01 .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_01 .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_01 .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_01 .path5:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_01 .path6:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_01 .path7:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_01 .path8:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-ANAL-GIVE_01 .path9:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ANAL-GIVE_02 .path1:before {
  content: "\e929";
  color: rgb(248, 248, 248);
}
.icon-ANAL-GIVE_02 .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_02 .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_02 .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_02 .path5:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_02 .path6:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_02 .path7:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_02 .path8:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ANAL-GIVE_02 .path9:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-ANAL-GIVE_02 .path10:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path1:before {
  content: "\e933";
  color: rgb(248, 248, 248);
}
.icon-DOGGY_GET_01 .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_01 .path9:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path1:before {
  content: "\e93c";
  color: rgb(248, 248, 248);
}
.icon-DOGGY_GET_02 .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GET_02 .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path4:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path5:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path6:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path7:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path8:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path9:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GET_02 .path10:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-DOGGY_GIVE_01 .path1:before {
  content: "\e946";
  color: rgb(248, 248, 248);
}
.icon-DOGGY_GIVE_01 .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_01 .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_01 .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_01 .path5:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_01 .path6:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_01 .path7:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_01 .path8:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_01 .path9:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path1:before {
  content: "\e94f";
  color: rgb(248, 248, 248);
}
.icon-DOGGY_GIVE_02 .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path4:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path5:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path6:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path7:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path8:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path9:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-DOGGY_GIVE_02 .path10:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-HAND_GIVE_01 .path1:before {
  content: "\e959";
  color: rgb(248, 248, 248);
}
.icon-HAND_GIVE_01 .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-HAND_GIVE_01 .path3:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-HAND_GIVE_02 .path1:before {
  content: "\e95c";
  color: rgb(248, 248, 248);
}
.icon-HAND_GIVE_02 .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-HAND_GIVE_02 .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-HAND_GIVE_02 .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-HAND_RECIEVE_01 .path1:before {
  content: "\e960";
  color: rgb(248, 248, 248);
}
.icon-HAND_RECIEVE_01 .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-HAND_RECIEVE_01 .path3:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-HAND_RECIEVE_02 .path1:before {
  content: "\e963";
  color: rgb(248, 248, 248);
}
.icon-HAND_RECIEVE_02 .path2:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-HAND_RECIEVE_02 .path3:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-HAND_RECIEVE_02 .path4:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-KINK_01 .path1:before {
  content: "\e967";
  color: rgb(248, 248, 248);
}
.icon-KINK_01 .path2:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_01 .path3:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_01 .path4:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_01 .path5:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_01 .path6:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_01 .path7:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_01 .path8:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_02 .path1:before {
  content: "\e96f";
  color: rgb(248, 248, 248);
}
.icon-KINK_02 .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-KINK_02 .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_02 .path4:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_02 .path5:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_02 .path6:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_02 .path7:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_02 .path8:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-KINK_02 .path9:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-MISSIONARY_01 .path1:before {
  content: "\e978";
  color: rgb(248, 248, 248);
}
.icon-MISSIONARY_01 .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-MISSIONARY_01 .path3:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-MISSIONARY_01 .path4:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-MISSIONARY_01 .path5:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-MISSIONARY_02 .path1:before {
  content: "\e97d";
  color: rgb(248, 248, 248);
}
.icon-MISSIONARY_02 .path2:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-MISSIONARY_02 .path3:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-MISSIONARY_02 .path4:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-MISSIONARY_02 .path5:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-MISSIONARY_02 .path6:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ORAL_RECIEVE_01 .path1:before {
  content: "\e983";
  color: rgb(248, 248, 248);
}
.icon-ORAL_RECIEVE_01 .path2:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ORAL_RECIEVE_01 .path3:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ORAL_RECIEVE_01 .path4:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ORAL_RECIEVE_01 .path5:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ORAL_RECIEVE_02 .path1:before {
  content: "\e988";
  color: rgb(248, 248, 248);
}
.icon-ORAL_RECIEVE_02 .path2:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-ORAL_RECIEVE_02 .path3:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ORAL_RECIEVE_02 .path4:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ORAL_RECIEVE_02 .path5:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-ORAL_RECIEVE_02 .path6:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_01 .path1:before {
  content: "\e98e";
  color: rgb(248, 248, 248);
}
.icon-SPANK_01 .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_01 .path3:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-SPANK_01 .path4:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_01 .path5:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_01 .path6:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-SPANK_02 .path1:before {
  content: "\e994";
  color: rgb(248, 248, 248);
}
.icon-SPANK_02 .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_02 .path3:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_02 .path4:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-SPANK_02 .path5:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_02 .path6:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPANK_02 .path7:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-SPOON_01 .path1:before {
  content: "\e99b";
  color: rgb(248, 248, 248);
}
.icon-SPOON_01 .path2:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPOON_02 .path1:before {
  content: "\e99d";
  color: rgb(248, 248, 248);
}
.icon-SPOON_02 .path2:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-SPOON_02 .path3:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-TOPSIT_01 .path1:before {
  content: "\e9a0";
  color: rgb(248, 248, 248);
}
.icon-TOPSIT_01 .path2:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOPSIT_01 .path3:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-TOPSIT_01 .path4:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-TOPSIT_01 .path5:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOPSIT_02 .path1:before {
  content: "\e9a5";
  color: rgb(248, 248, 248);
}
.icon-TOPSIT_02 .path2:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-TOPSIT_02 .path3:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOPSIT_02 .path4:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-TOPSIT_02 .path5:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-TOPSIT_02 .path6:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path1:before {
  content: "\e9ab";
  color: rgb(248, 248, 248);
}
.icon-TOYS_01 .path2:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path3:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path4:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path5:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path6:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path7:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path8:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_01 .path9:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path1:before {
  content: "\e9b4";
  color: rgb(248, 248, 248);
}
.icon-TOYS_02 .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-TOYS_02 .path3:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path4:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path5:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path6:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path7:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path8:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path9:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-TOYS_02 .path10:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-01 .path1:before {
  content: "\e9be";
  color: rgb(248, 248, 248);
}
.icon-01 .path2:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-01 .path3:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-01 .path4:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(4, 52, 192);
}
.icon-01 .path5:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(7, 255, 222);
}
.icon-bar:before {
  content: "\e9c3";
  color: #fff;
}
.icon-data:before {
  content: "\e9c4";
  color: #fff;
}
.icon-hand:before {
  content: "\e9c5";
  color: #fff;
}
.icon-more:before {
  content: "\e9c6";
  color: #fff;
}
.icon-PIE:before {
  content: "\e9c7";
  color: #fff;
}
.icon-Settings:before {
  content: "\e9c8";
  color: #fff;
}
